<body>
    <h1>Faith. Family. Football.</h1>

    <div id="about" class="section">
        <div class="section-image">
            <img [src]="imageDir + '/home-background.jpg'" alt="Image 1">
        </div>
        <div class="section-text">
            <h1>About</h1>
            <p>The Dallas Muslim Football League (DMFL) is a faith-based flag football league that promotes community, camaraderie, and brotherhood. Players of all religions and backgrounds are welcome to play. 
                DMFL prides itself on being one of the most competitive leagues in DFW, while also being the only league in DFW to record all games and provide highlight reels from professional videographers. 
                Thank you to all the players, volunteers, fans, and sponsors who make DMFL a huge success annually.</p>
        </div>
    </div>

    <div id="section2" class="section">
        <div class="section-image">
            <img [src]="imageDir + '/home-faith.jpg'" alt="Image 2">
        </div>
        <div class="section-text">
            <h1>Leadership</h1>
            <ul>
                <li>
                    Commissioner: Hazem Tariq
                </li>
                <li>
                    Director of Technology: Patrick Fellows
                </li>
                <li>
                    Director of Khatiras and Community Engagement:  Omar Gharbieh
                </li>
                <li>
                    Director of Graphic Design: Mariam Rice
                </li>
                <li>
                    Lead Videographer & Social Media: Yasmeen Tariq
                </li>
                <li>
                    Lead Photographer: Tamir Ahmad
                </li>
            </ul>
        </div>
    </div>
</body>
