h2 {
    margin: auto;
    margin-bottom: 15px;
}

.center {
    background-color: rgb(238, 238, 238);
    margin: auto;
    max-width: fit-content;
    margin-top: 25px;
    padding: 10px;
    padding-top: 0%;
    text-align: center;
    overflow: auto;
}

.button-row {
  text-align: left;
  width: 100%;
}

button[type="button"] {
  margin-top: 24px;
}