<div class="center" *ngIf="team">
    <h2>{{team.name}}</h2>
    <div *ngIf="team.players">

      <div>Roster</div>
      <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Positions</th>
                <th>Captain</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of team.players">
                <td>{{player.name}}</td>
                <td>{{player.number}}</td>
                <td>{{player.positions}}</td>
                <td>{{player.captain}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  
</div>

<button type="button" (click)="goBack()">go back</button>