<div class="center" *ngIf="team">
    <h2>{{team.name}}</h2>
    <div *ngIf="team.roster.players">

      <div>Roster</div>
      <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of team.roster.players| orderBy: 'lastName'">
                <td>
                    <img *ngIf="player.captain" class="captain" src="../../../../assets/dmfl-captain-badge.png" alt="a logong ">
                    {{player.lastName}}, {{player.firstName}}
                </td>
                <td>{{player.number}}</td>
                <td>{{player.positions}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  
</div>

<button type="button" (click)="goBack()">go back</button>