<div class="center" *ngIf="team">
    <h2>{{team.name}}</h2>
    <div *ngIf="team.players">

      <div>Roster</div>
      <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of team.players | orderBy: 'lastName'">
                <td>{{player.lastName}}, {{player.firstName}} <span *ngIf="player.captain">[C]</span></td>
                <td>{{player.number}}</td>
                <td>{{player.positions}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  
</div>

<button type="button" (click)="goBack()">go back</button>