<div class="center" *ngIf="schedules">
    <select [(ngModel)]="selectedMapKey" (ngModelChange)="getSeason($event)">
        <option *ngFor="let season of seasonMap | keyvalue" [ngValue]="season.key">{{season.key}}</option>
    </select>
    <select [(ngModel)]="selectedSchedule">
        <option *ngFor="let schedule of schedules | orderBy: 'week'" [ngValue]="schedule">{{schedule.week}}</option>
    </select>
    <div *ngIf="selectedSchedule">
        <table>
            <thead>
                <tr>
                    <th id="time">Time</th>
                    <th id="matchup">Matchup</th>
                    <th id="score">Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of selectedSchedule.games | orderBy: 'date'" routerLink="games/detail/{{game.id}}">
                    <td>{{game.date}}</td>
                    <td>{{game.homeTeam.name}} vs {{game.awayTeam.name}}</td>
                    <td *ngIf="game.homeScore != 0 || game.awayScore != 0">{{game.homeScore}} - {{game.awayScore}}</td>
                    <td *ngIf="game.homeScore === 0 && game.awayScore === 0"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>