<div class="home-container">

  <app-news></app-news>

  <div class="scores-and-schedule">
    <app-latest-scores></app-latest-scores>
    <app-upcoming-games></app-upcoming-games>
  </div>
  
  <div class="stat-leaders-section">
    <h2>League Leaders</h2>
    <div class="stat-cards-container">
      <app-stat-leader-card [statCategory]="'passing'"></app-stat-leader-card>
      <app-stat-leader-card [statCategory]="'rushing'"></app-stat-leader-card>
      <app-stat-leader-card [statCategory]="'receiving'"></app-stat-leader-card>
    </div>
  </div>

  <app-photo-gallery></app-photo-gallery>

</div>