<body>
    <h1>Faith. Family. Football.</h1>

    <div id="about" class="section">
        <div class="section-image">
            <img src="../../../assets/home-background.jpg" alt="Image 1">
        </div>
        <div class="section-text">
            <h1>About</h1>
            <p>The Dallas Muslim Football League (DMFL) is a faith-based flag football league that promotes community, camaraderie, and brotherhood. Players of all religions and backgrounds are welcome to play. 
                DMFL prides itself on being one of the most competitive leagues in DFW, while also being the only league in DFW to record all games and provide highlight reels from professional videographers. 
                Thank you to all the players, volunteers, fans, and sponsors who make DMFL a huge success annually.</p>
        </div>
    </div>

    <div id="section2" class="section">
        <div class="section-image">
            <img src="../../../assets/home-faith.jpg" alt="Image 2">
        </div>
        <div class="section-text">
            <h1>Leadership</h1>
            <ul>
                <li>
                    Commissioner: Hazem Tariq
                </li>
                <li>
                    Lead Videographer & Social Media: Yasmeen Tariq
                </li>
                <li>
                    Director of Player Personnel/VP of Operations: Dan Syed
                </li>
                <li>
                    Director of Technology: Patrick Fellows
                </li>
                <li>
                    Director of Khatiras and Community Engagement:  Omar Gharbieh
                </li>
            </ul>
        </div>
    </div>
    
    <div id="section3" class="section-images-only">
        <div class="gallery-title"><h2>Gallery</h2></div>
        <div class="image-container">
            <img src="../../../assets/2024-spring-champs.JPG" alt="Image 3A" (click)="openModal('../../../assets/2024-spring-champs.JPG')">
            <p>2024 Spring League Champions</p>
        </div>
        <div class="image-container">
            <img src="../../../assets/2023-summer-champs.JPG" alt="Image 3B" (click)="openModal('../../../assets/2023-summer-champs.JPG')">
            <p>2023 Summer League Champions</p>
        </div>
        <div class="image-container">
            <img src="../../../assets/free-palestine-2024.JPG" alt="Image 3C" (click)="openModal('../../../assets/free-palestine-2024.JPG')">
            <p>Free Palestine 2024</p>
        </div>
        <div class="image-container">
            <img src="../../../assets/underdogs-2023.JPG" alt="Image 3D" (click)="openModal('../../../assets/underdogs-2023.JPG')">
            <p>The Underdogs 2023</p>
        </div>
    </div>

    <div id="imageModal" class="modal" *ngIf="isModalOpen">
        <span class="close" (click)="closeModal()">&times;</span>
        <img class="modal-content" [src]="modalImageSrc">
    </div>
</body>
