<div class="center" *ngIf="team">
    <h2>{{team.name}}</h2>
    <div *ngIf="memberships">

      <div>Roster</div>
      <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let membership of memberships | orderBy: 'player.lastName,player.firstName'">
                <td>
                    <img *ngIf="membership.captain" class="captain" [src]="imageDir + '/dmfl-captain-badge.png'" alt="Captain badge">
                    {{membership.player.lastName}}, {{membership.player.firstName}}
                </td>
                <td>{{membership.player.number}}</td>
                <td>{{membership.player.positions}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<button type="button" (click)="goBack()">go back</button>