<!-- <div class="logo">
    <img src="../DMFL-Logo.png" alt="logo">
    <h1>{{title}}</h1>
</div> -->
<header class="header">
    <div class="wrapper">
      <div class="logo">
        <img src="../DMFL-Logo.png" alt="a logo">
      </div>
      <div class="header-text">
        {{title}}
      </div>
    </div>
  </header>
<a class="login" *ngIf="user === 'admin'" routerLink="/adminTools">Admin tools</a>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/news">News</a>
    <a routerLink="/standings">Standings</a>
    <a routerLink="/schedule">Schedule</a>
</nav>
<router-outlet></router-outlet>