<div class="page-container">
    <div class="content">
        <header class="header">
            <div class="wrapper">
                <div class="logo">
                    <img [src]="imageDir + '/DMFL-Logo.png'" alt="a logo">
                </div>
                <nav class="nav-menu">
                    <div class="menu-item">
                        <a routerLink="/home">Home</a>
                    </div>
                    <div class="menu-item">
                        <a routerLink="/teams">Teams</a>
                    </div>
                    <div class="menu-item">
                        <a routerLink="/standings">Standings</a>
                    </div>
                    <div class="menu-item">
                        <a routerLink="/stats">Stats</a>
                        <div class="sub-menu">
                            <div class="sub-menu-item">
                                <a href="/stats/team">Team</a>
                            </div>
                            <div class="sub-menu-item">
                                <a href="/stats/player">Player</a>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item">
                        <a routerLink="/schedule">Schedule</a>
                    </div>
                    <div class="menu-item">
                        <a routerLink="/about">About</a>
                    </div>
                </nav>
            </div>
        </header>
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div class="social-media-container">
            <!-- Instagram -->
            <a href="https://www.instagram.com/official_dmfl/" class="fa-brands fa-instagram fa-2xl"></a>
            <a href="https://www.tiktok.com/@official.dmfl" class="fa-brands fa-tiktok fa-2xl"></a>
            <a href="https://www.youtube.com/@DMFL_2025" class="fa-brands fa-youtube fa-2xl"></a>
        </div>
        <div class="copyright">
            © 2025 Dallas Muslim Football League. All Rights Reserved.
        </div>
    </footer>n
</div>