<div class="page-container">
    <div class="content">
        <header class="header">
            <div class="wrapper">
              <div class="logo">
                <img src="../DMFL-Logo.png" alt="a logo">
              </div>
              <div class="header-text">
                {{title}}
              </div>
            </div>
            <a class="login" *ngIf="user === 'admin'" routerLink="/adminTools">Admin tools</a>
            <nav>
                <a routerLink="/dashboard">Dashboard</a>
                <a routerLink="/standings">Standings</a>
                <a routerLink="/stats">Stats</a>
                <a routerLink="/schedule">Schedule</a>
            </nav>
        </header>
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div class="social-media-container">
            <!-- Instagram -->
            <a href="https://www.instagram.com/official_dmfl/" class="fa-brands fa-instagram fa-2xl"></a>
            <a href="https://www.tiktok.com/@official.dmfl" class="fa-brands fa-tiktok fa-2xl"></a>
            <a href="https://www.youtube.com/@DMFL-2024" class="fa-brands fa-youtube fa-2xl"></a>
        </div>
        <div class="copyright">
            © 2023 A <a href="javascript:void(0);"><strong>DMFL</strong></a> Theme
        </div>
    </footer>
</div>