<div class="center">
  <h2>League Stats</h2>
  <select [(ngModel)]="selectedCategory" (change)="sortStats()">
    <option value="passing">Passing</option>
    <option value="receiving">Receiving</option>
    <option value="defense">Defense</option>
  </select>
  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Team</th>
          <th [class.highlighted]="isHighlightedColumn('REC')">REC</th>
          <th [class.highlighted]="isHighlightedColumn('REC TD')">REC TD</th>
          <th [class.highlighted]="isHighlightedColumn('REC YDS')">REC YDS</th>
          <th [class.highlighted]="isHighlightedColumn('PAS TD')">PAS TD</th>
          <th [class.highlighted]="isHighlightedColumn('PAS YDS')">PAS YDS</th>
          <th [class.highlighted]="isHighlightedColumn('INT THRN')">
            INT THRN
          </th>
          <th>RUSH TD</th>
          <th>RUSH YDS</th>
          <th [class.highlighted]="isHighlightedColumn('DEF TD')">DEF TD</th>
          <th [class.highlighted]="isHighlightedColumn('DEF INT')">DEF INT</th>
          <th [class.highlighted]="isHighlightedColumn('FLAG PULLS')">
            FLAG PULLS
          </th>
          <th [class.highlighted]="isHighlightedColumn('PASS BKUPS')">
            PASS BKUPS
          </th>
          <th [class.highlighted]="isHighlightedColumn('SACK')">SACK</th>
          <th [class.highlighted]="isHighlightedColumn('SFTY')">SFTY</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active-row" *ngFor="let stat of teamStats">
          <!-- <td>{{stat.player.lastName}}, {{stat.player.firstName}}</td> -->
          <td>{{ stat.team.name }}</td>
          <td [class.highlighted]="isHighlightedColumn('REC')">
            {{ stat.receptions }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('REC TD')">
            {{ stat.receivingTouchdowns }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('REC YDS')">
            {{ stat.receivingYards }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('PAS TD')">
            {{ stat.passingTouchdowns }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('PAS YDS')">
            {{ stat.passingYards }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('INT THRN')">
            {{ stat.interceptionsThrown }}
          </td>
          <td>{{ stat.rushingTouchdowns }}</td>
          <td>{{ stat.rushingYards }}</td>
          <td [class.highlighted]="isHighlightedColumn('DEF TD')">
            {{ stat.defensiveTouchdowns }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('DEF INT')">
            {{ stat.defensiveInterceptions }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('FLAG PULLS')">
            {{ stat.flagPulls }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('PASS BKUPS')">
            {{ stat.passBreakups }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('SACK')">
            {{ stat.sacks }}
          </td>
          <td [class.highlighted]="isHighlightedColumn('SFTY')">
            {{ stat.safeties }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
