<section class="news-section">
  <h2>Latest News</h2>

  <div *ngIf="newsItems.length > 0; else noNews">
    <div class="news-container">
      <app-news-card 
        *ngFor="let newsItem of newsItems | slice:0:currentLimit" 
        [item]="newsItem">
      </app-news-card>
    </div>

    <div class="toggle-view-container" *ngIf="newsItems.length > maxItemsToShow">
      <button (click)="toggleView()">
        {{ showFullList ? 'Show Less' : 'Show All (' + newsItems.length + ')' }}
      </button>
    </div>

  </div>

  <ng-template #noNews>
    <div class="no-news-message">
      <p>No current News</p>
    </div>
  </ng-template>

</section>